/*******************
Layouts
******************/
.card-no-border .card {
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.card-no-border .shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none; }

.card-outline-danger,
.card-outline-info,
.card-outline-warning,
.card-outline-success,
.card-outline-primary {
  background: #ffffff; }

.card-fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: auto; }
